<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Dealers</h3>
            </div>
            <div class="ibox-content">
                <table st-table="displayCollection" st-pipe="callServer" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Year</th>
                            <th>Maker</th>
                            <th>Model</th>
                            <th>Body type</th>
                            <th>Trim</th>
                            <th>Drivetrain</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat-start="row in displayCollection" ng-class="{'info':row.isDealerCar}" >
                            <td>
                                <span ng-class="{'glyphicon-menu-up': !row.isDetailed, 'glyphicon-menu-down': row.isDetailed }" class="glyphicon" ng-click="showDetailed(row)"></span>
                            </td>
                            <td>{{row.year}}</td>
                            <td>{{row.make}}</td>
                            <td>{{row.model}}</td>
                            <td>{{row.bodyType}}</td>
                            <td>{{row.styleTrim}}</td>
                            <td>{{row.drivetrain}}</td>
                            <td>
                                {{row.price | currency: "$" : 0}}
                                <span ng-if='row.priceDifference==0'>0</span>
                                <span ng-if='row.priceDifference>0' style="color: green">+{{row.priceDifference  | currency: "$" : 0}}</span>
                                <span ng-if='row.priceDifference<0' style="color: red">{{row.priceDifference  | currency: "$" : 0}}</span>
                            <td>
                                <a ng-href="{{row.url}}" class="btn btn-primary btn-xs">Open</a>
                            </td>
                        </tr>
                        <tr ng-repeat-end=" " ng-hide="!row.isDetailed ">
                            <td colspan="9">
                                <div class="row">
                                    <div class="col-md-10 tile_stats_count">
                                        <div>
                                            <img style="display: inline-block; padding-left:10px; padding-right:10px" class="resize" ng-src="{{row.imagePath}}" err-src="../images/site/default-car.gif" />
                                            <div style="display: inline-block;" class="left-border-with-padding">
                                                <h1>{{row.year}} {{row.make}} {{row.model}}</h1>
                                                <p>
                                                    <span>Bodytype - {{row.bodyType}}, Trim - {{row.styleTrim}}, Drivetrain - {{row.drivetrain}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 tile_stats_count">
                                        <div class="left-border-with-padding">
                                            <span class="count_top"><i class="fa fa-usd"></i> Price</span>
                                            <div class="count">{{row.price  | currency: "$" : 0}}</div>
                                            <span class="count_bottom"><i class="green"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="9" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td class="text-left" colspan="9">
                                <st-pagination st-items-by-page="itemsByPage"></st-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>