<dealer-header></dealer-header>
<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			<div class="x_title clearfix">
				<h2>Inventory</h2>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-md-12">
						<table st-table="displayCollection" st-set-filter="myStrictFilter" st-pipe="callServer" class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th st-sort="year">Year</th>
									<th st-sort="make">Maker</th>
									<th st-sort="model">Model</th>
									<th st-sort="bodyType">Body type</th>
									<th st-sort="styleTrim">Trim</th>
									<th st-sort="drivetrain">Drivetrain</th>
									<th st-sort="price">Price</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>
										<select st-search="year" class="form-control" ng-model="selectedYear">
                                            <option value="" selected>All years</option>
                                            <option ng-repeat="year in years | orderBy" ng-value="year">{{year}}</option>
                                        </select>
									</th>
									<th>
										<select st-search="make" class="form-control" ng-model="selectedMake">
                                            <option value="" selected>All Makes</option>
                                            <option ng-repeat="make in makes | orderBy" ng-value="make">{{make}}</option>
                                        </select>
									</th>
									<th>
										<select st-search="model" class="form-control" ng-model="selectedModel">
                                            <option value="" selected>All models</option>
                                            <option ng-repeat="model in models | orderBy" ng-value="model">{{model}}</option>
                                        </select>
									</th>
									<th>
										<select st-search="bodyType" class="form-control" ng-model="selectedBodyType">
                                            <option value="" selected>All Body Styles</option>
                                            <option ng-repeat="bodyType in bodyTypes | orderBy | orderBy" ng-value="bodyType">{{bodyType}}</option>
                                        </select>
									</th>
									<th>
										<select st-search="styleTrim" class="form-control" ng-model="selectedStyleTrim">
                                            <option value="" selected>All StyleTrim</option>
                                             <option ng-repeat="styleTrim in styleTrims | orderBy" ng-value="styleTrim">{{styleTrim}}</option>
                                        </select>
									</th>
									<th>
										<select st-search="drivetrain" class="form-control" ng-model="selectedDrivetrain">
                                            <option value="" selected>All Drivetrain</option>
                                            <option ng-repeat="drivetrain in drivetrains | orderBy" ng-value="drivetrain">{{drivetrain}}</option>
                                        </select>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
								<tr ng-repeat-start="row in displayCollection">
									<td>
										<span ng-class="{'glyphicon-menu-up': !row.isDetailed, 'glyphicon-menu-down': row.isDetailed }" class="glyphicon" ng-click="showDetailed(row)"></span>
									</td>
									<td>{{row.year}}</td>
									<td>{{row.make}}</td>
									<td>{{row.model}}</td>
									<td>{{row.bodyType}}</td>
									<td>{{row.styleTrim}}</td>
									<td>{{row.drivetrain}}</td>
									<td>{{row.price|currency}}</td>
									<td>
										<a ui-sref="car({ carId: row.id, stockCarId:row.stockCarId}) " class="btn btn-primary btn-xs">Detail</a>
										<a ng-href="{{row.url}}" class="btn btn-primary btn-xs">Open</a>
									</td>
								</tr>
								<tr ng-repeat-end=" " ng-hide="!row.isDetailed ">
									<td colspan="9">
										<div class="row">
											<div class="col-md-10 tile_stats_count">
												<div>
													<img style="display: inline-block; padding-left:10px; padding-right:10px" class="resize" ng-src="{{row.imagePath}}" />
													<div style="display: inline-block;" class="left-border-with-padding">
														<h1>{{row.year}} {{row.make}} {{row.model}}</h1>
														<p>
															<span>Bodytype - {{row.bodyType}}, Trim - {{row.styleTrim}}, Drivetrain - {{row.drivetrain}}</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-md-2 tile_stats_count">
												<div class="left-border-with-padding">
													<span class="count_top"><i class="fa fa-usd"></i> Your Price</span>
													<div class="count">{{row.price}}</div>
													<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{row.amountDifference}} </i> From last Week</span>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
							<tbody ng-show="isLoading">
								<tr>
									<td colspan="9" class="text-center">Loading ... </td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="text-left" st-pagination="" st-items-by-page="itemsByPage" colspan="9">
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>